@model IEnumerable<TableStructure>

@functions {
    string divId(TableStructure t)
    {
        return "d_" + t.getName();
    }
}

<div class="container">
    <ul class="nav nav-pills nav-stacked col-sm-3">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        @foreach (TableStructure table in Model)
        {
            <li>
                <a href="#@divId(table)" data-toggle="tab" onclick="loadTab(this, '@table.getName()');">@table.getName()</a>
            </li>
        }
    </ul>

    <div class="tab-content panel" style="overflow-x:auto; ">
        <div id="tableData" class="tab-pane active" data-role="page">
            <h3>Database explorer</h3>
        </div>
        @foreach (TableStructure table in Model)
        {
            <div id="d_@table.getName()" class="tab-pane" data-role="page"
                 data-orgurl="@Url.Action("Index", "Row", new { package = ViewBag.Package, schema = table.getSchema(), table = table.getName(), pageNumber=1 })">
                @table.getName() Here
            </div>
        }
    </div>
</div>

<script>
    function loadTab(anchor, tableName, pageNum) {
        var div = $('#d_' + tableName);
        console.log(div);
        var divElm = div[0];

        if (pageNum)
            divElm.dataset.page = pageNum;
        if (!divElm.dataset.page)
            divElm.dataset.page = 1;
        var page = divElm.dataset.page;

        var url = divElm.dataset.orgurl;
        url = url.substr(0, url.length - 1) + page;

        $.get(url, function (data) {
            div.html(data);
        });
    }
</script>