@using end_user_gui.Models;
@model Tuple<Archive, List<Dissemination>>

@{
    var html = MvcHtmlString.Create(
        "<span id=\"addToCartModalBody\">" +
        @Html.Partial("~/Views/Order/addtocartmodal_body.cshtml", Model) +
        "</span>"
        );
    var t = new Tuple<string, HtmlString, HtmlString>("addToCartModal", null, html);
    Html.RenderPartial("modaldialog", t);
}