@model dip_viewer.Controllers.RowController.IndexParameters

@Html.PagedListPager(
    Model.RowData as PagedList.IPagedList<string[]>,
    page => page.ToString(),
    new PagedList.Mvc.PagedListRenderOptions()
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        Display = PagedListDisplayMode.Always,
        DelimiterBetweenPageNumbers = " ",
        DisplayPageCountAndCurrentLocation = true,
        FunctionToTransformEachPageLink = (liTag, aTag) =>
        {

            if (aTag.Attributes.ContainsKey("href"))
            {
                int pNum;
                if (int.TryParse(aTag.Attributes["href"], out pNum))
                {
                    var url = Url.Action("Index", new { package = Model.Package, schema = Model.Table.getSchema(), table = Model.Table.getName(), pageNumber = pNum });
                    aTag.Attributes["onclick"] = string.Format("loadTab(this,'{0}',{1});", Model.Table.getName(), pNum);
                    aTag.Attributes["href"] = "#";
                    aTag.AddCssClass("ladda-button");
                    aTag.Attributes["data-style"] = "slide-up";
                    aTag.Attributes["data-spinner-color"] = "red";
                }
            }
            liTag.InnerHtml = aTag.ToString();
            return liTag;
        }
    }
    )

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                @foreach (ColumnStructure column in Model.Table.getColumns().toArray())
            {
                    <th>
                        @column.getName()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var rowData in Model.RowData)
            {
                <tr>
                    @foreach (var colData in rowData)
                    {
                        <td>
                            @colData
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>