@model dip_viewer.Controllers.RowController.IndexParameters

@Html.PagedListPager(
    Model.RowData as PagedList.IPagedList<string[]>,
    page => page.ToString(),
    new PagedList.Mvc.PagedListRenderOptions()
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        Display = PagedListDisplayMode.Always,
        DelimiterBetweenPageNumbers = " ",
        DisplayPageCountAndCurrentLocation = true,
        LiElementClasses = new string[] { "btn-lg" },
        FunctionToTransformEachPageLink = (liTag, aTag) =>
        {

            if (aTag.Attributes.ContainsKey("href"))
            {
                int pNum;
                if (int.TryParse(aTag.Attributes["href"], out pNum))
                {
                    var url = Url.Action("Index", new { package = Model.Package, schema = Model.Table.getSchema(), table = Model.Table.getName(), pageNumber = pNum });
                    aTag.Attributes["onclick"] = string.Format("loadTab(this,'{0}',{1});", Model.Table.getName(), pNum);
                    aTag.Attributes["href"] = "#";

                    // Ladda stuff
                    aTag.AddCssClass("ladda-button");
                    aTag.Attributes["data-style"] = "slide-up";
                    aTag.Attributes["data-spinner-color"] = "red";
                }
            }
            liTag.InnerHtml = aTag.ToString();
            return liTag;
        }
    }
    )

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                @foreach (ColumnStructure column in Model.Table.getColumns().toArray())
                {
                    <th>
                        @column.getName()
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var rowData in Model.RowData)
            {
                <tr>
                    @{
                        var colIndex = -1;
                    }
                    @foreach (var colData in rowData)
                    {
                        <td>
                            @{
                                colIndex++;
                                if (colData == null || colData.Length < 100)
                                {
                                    @colData;
                                }
                                else
                                {
                                    var cellIndex = Guid.NewGuid().ToString().Replace("-","");
                                    
                                    @colData.Substring(0, 100);
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#cell_@cellIndex">...</button>
                                    <!-- Modal -->
                                    <div class="modal" id="cell_@cellIndex" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">
                                                        @{
                                                            Output.Write(string.Format("{0}.{1}", Model.Table.getName(), (Model.Table.getColumns().get(colIndex) as ColumnStructure).getName()));
                                                        }
                                                    </h4>
                                                </div>
                                                <div class="modal-body" style="text-wrap:normal; word-wrap:break-word">
                                                    @Html.Encode(@colData)
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>