@using end_user_gui.App_GlobalResources;

@{
    Layout = "~/Views/Shared/main.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#contentSearch" searchTab="true">Content</a></li>
                    <li><a data-toggle="tab" href="#metadataSearch" searchTab="true">Metadata</a></li>
                </ul>
                <div class="row">                    
                    <input type="text" class="form-control col-md-12" id="name" name="name" autocomplete="off">
                </div>
                <div class="tab-content">
                    <div id="contentSearch" class="tab-pane fade in active" style="white-space:nowrap">

                    </div>
                    <div id="metadataSearch" class="tab-pane fade">
                        <div class="row col-md-10">
                            <input type="checkbox" name="searchintitle" id="searchintitle" checked />
                            <label for="searchintitle">Title</label>

                            <input type="checkbox" name="searchindescription" id="searchindescription" checked />
                            <label for="searchindescription">Description</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button id="btnSearch" class="btn btn-primary">@Messages.search_search</button>
    </div>
</div>
<div id="searchResults">
    @Html.Partial("~/Views/Search/searchresultview.cshtml", null)
</div>
