@using end_user_gui.App_GlobalResources;

@{
    Layout = "~/Views/Shared/main.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <input type="text" class="form-control col-md-12" id="name" name="name" autocomplete="off">
    </div>
    <div class="col-md-1">
        <button id="btnSearch" class="btn btn-primary">@Messages.search_search</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#contentSearch" searchTab="true">Content</a></li>
            <li><a data-toggle="tab" href="#metadataSearch" searchTab="true">Metadata</a></li>
        </ul>
        <div>
            <div id="contentSearch" class="tab-pane fade in active">
            </div>
            <span id="metadataSearch" class="tab-pane fade">
                <input type="radio" name="searchin" id="searchintitle" value="title" />
                <label for="searchintitle">Title</label>

                <input type="radio" name="searchin" id="searchindescription" value="description" />
                <label for="searchindescription">Description</label>

                <input type="radio" name="searchin" id="searchinboth" value="both" checked />
                <label for="searchinboth">Both</label>
            </span>
        </div>
    </div>
</div>

<div id="searchResults">
    @Html.Partial("~/Views/Search/searchresultview.cshtml", null)
</div>
