@(archive: IArchive, disseminations: java.util.List[IDissemination])

@if(disseminations != null && disseminations.size() > 0){
    <h2>@Messages("cart.availabledisseminations")</h2>
    <br>
   <div class="container col-md-12">
       @for(dis <- disseminations){
           <div class="row">
               <div class="col-md-6">@dis.ToString()</div>
               <div class="col-md-5">@(new java.text.SimpleDateFormat("yyyy-MM-dd").format(dis.CreatedDate()))</div>
               <div class="col-md-1">
                   <button type="button" class="btn btn-default btn-sm" uuid="@archive.ReferenceCode()" disUuid="@dis.KeyString()" name="addToCartAnchor">
                   @Messages("cart.add")
                   </button>
               </div>
           </div>
       }
       <button type="button" class="btn btn-default btn-sm" uuid="@archive.ReferenceCode()" disUuid="" name="addToCartAnchor">
        @Messages("cart.thanksnewdip")
       </button>
   </div>
}else{
    @if(archive != null){
        <button type="button" class="btn btn-submit btn-sm" uuid="@archive.ReferenceCode()" disUuid="" name="addToCartAnchor">
            @Messages("cart.addtext")
        </button>
    }
}
<br><br>