@(order: models.IOrder)

    <div class="container col-md-12">
@for(orderItem <- order.Archives() ){
        <div class="row">
            <div class="col-md-4">
                @orderItem.Archive.AipUri()
            </div>
            <div class="col-md-4">
                @orderItem.Archive.ReferenceCode()
            </div>
            <div class="col-md-1 col-md-offset-3">
                <button type="button" class="btn btn-default btn-sm" uuid="@orderItem.Archive.ReferenceCode()" name="removeFromCartAnchor">
                @Messages("cart.remove")
                </button>
            </div>

        </div>

}
    </div>
    @if(order.Archives().size() > 0){
        <button type="button" class="btn btn-default btn-md" name="clearCartAnchor">
        @Messages("cart.clear")
        </button>

        <button type="button" class="btn btn-submit btn-md" name="submitCartAnchor">
        @Messages("cart.submit")
        </button>

    }
