@(order: models.IOrder)

@for(orderItem <- order.Archives() ){
        <div class="row">
            <div class="col-md-8">
                @orderItem.Archive.AipUri()
            </div>
            <div class="col-md-3">
                @if(orderItem.Dissemination != null){
                    @(new java.text.SimpleDateFormat("yyyy-MM-dd").format(orderItem.Dissemination.CreatedDate()))
                }
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-md" uuid="@orderItem.Archive.ReferenceCode()" name="removeFromCartAnchor">
                @Messages("cart.remove")
                </button>
            </div>
        </div>
}
@if(order.Archives().size() > 0){
    <div class="row">
        <div class="col-md-6">
        <button type="button" class="btn btn-default btn-md" name="clearCartAnchor">
        @Messages("cart.clear")
        </button>
        </div>
        <div class="col-md-2 col-md-offset-4" >
        <button type="button" class="btn btn-default btn-md" name="submitCartAnchor">
        @Messages("cart.submit")
        </button>
        </div>
    </div>
}
