@(order: models.IOrder)

<div id="cartModal" class="modal static">

        <!-- Modal HTML -->
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Messages("cart.view") (<span name="cartCount">@order.Archives().size()</span> @Messages("cart.items"))</h4>
            </div>

            <div class="modal-body">
                <span id="cartViewModalBody">
                @cartviewbody(order)
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cart.close")</button>
            </div>
        </div>
    </div>
</div>