@(message: String)

@main("Welcome to Play") {

    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <div class="form-group">
                <label class="control-label col-md-2" for="name">@Messages("search.nametitle")</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="name" name="name" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button id="btnSearch" class="btn btn-primary">@Messages("search.search")</button>
        </div>
    </div>
    <div id="searchResults" >
    @searchresultview(null)
    </div>
}
