@import modules.Environment
@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href= "@routes.Assets.at("libs/bootstrap-3.3.5-dist/css/bootstrap.min.css")">
        <script data-main="@routes.Assets.at("javascripts/main")" src="@routes.Assets.at("libs/requirejs-2.1.20/minifiedrequire.js")" ></script>
    </head>
    <body>
        @navbar(Environment.Current().Session().CurrentOrder())
    <div class="container">
        @content
    </div>
        <script>


        </script>
    </body>
</html>
