@(order: IOrder)
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">@Messages("navbar.brand")</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">@Messages("navbar.home")</a></li>
                <li class="active"><a href="/profile">@Messages("navbar.profile")</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#cartModal" data-backdrop="static" name="cartViewButton">
                        @Messages("cart.view")
                        <span name="cartCount"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
@cartview(order)
<span id="modalPopupSpan"></span>
